@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-cust-white {
  background-color: #EBEAEA;
}
.bg-cust-black {
  background-color: #121314;
}
.bg-cust-gray {
  background-color: #d9d9d9;
}
.color-cust-gray {
  color: #636363;
}

.min-w-stretch-cust {
  min-width: stretch;
}
